<!DOCTYPE html>
<html>
  <head>
    <title>CashApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in?%>
    <nav>
      <div class="logo-container">
        <%= image_tag("dolares.png", :alt => "logo", :class => "logo") %>
        <h2><%="#{current_user[:name]}"%></h2>
      </div>
      <ul class="nav-links">
        <li class="nav-link">
          <%= link_to "Groups", groups_path%>
        </li>
        <li class="nav-link">
          <%= link_to "Expenses", expenses_path%>
        </li>
        <li class="nav-link">
          <div id="logout-button">
            <%= button_to "Logout", destroy_user_session_path, { method: :delete, data: { turbo:false }}%>
          </div>
        </li>
      </ul>
      <%= image_tag 'hamburger.png', :class => "hamburger"%>
    </nav>
  <%end%>
    <% if user_signed_in?%>
      <%= button_to "Logout", destroy_user_session_path, { method: :delete, data: { turbo:false }} %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
